/*
 * Nextflow config file for custom pipeline
 */
docker {
    enabled = true
    fixOwnership = true
}

process {
    shell = ['/bin/bash', '-ueo', 'pipefail']

    // Disable scratch to use ./work/ directory instead of /tmp/
    scratch = false

    // Stage modes
    stageInMode = 'rellink' // Input files are staged in the process work directory by creating a symbolic link with a relative path for each of them.
    stageOutMode = "move" // Output files are moved from the scratch directory to the work directory.

    // Defaults
    errorStrategy = 'terminate' // Process will be terminated if an error occurs.
}

profiles {
    standard {
        includeConfig "report_and_trace.config"
    }
}