import java.text.SimpleDateFormat

// Default execution parameters
params {
    launchDate = \
        (new SimpleDateFormat("yyyy-MM-dd_HH-mm-ssZ"))
        .format(new Date())

    logsDir = System.getProperty("user.dir")
}

// Parse execution parameters
if (params.containsKey("launch-date"))
    params.launchDate = params.get("launch-date")
if (params.containsKey("logs-dir"))
    params.logsDir = params.get("logs-dir")

timeline {
    enabled = true
    file = "${params.logsDir}/${params.launchDate}_nextflow_timeline.html"
}
report {
    enabled = true
    file = "${params.logsDir}/${params.launchDate}_nextflow_report.html"
}
trace {
    enabled = true
    file = "${params.logsDir}/${params.launchDate}_nextflow_trace.txt"
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module," +
    "container,cpus,time,disk,memory,attempt,submit,start,complete," +
    "duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar," +
    "wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt,hostname"
}
dag {
    enabled = true
    file = "${params.logsDir}/${params.launchDate}_nextflow_dag.html"
}
